@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <link href="~/layui/css/layui.css" rel="stylesheet" />
        <style>
            html {
                background-color: #333;
            }
        </style>
    <script src="~/layui/layui.js"></script>
        <script>
            layui.extend({
                'socket': '/layim/js/socket',
                'rmlib': '/layim/js/rmlib',
                'protobuf':'/layim/js/protobuf'
            });
            layui.use('socket', function (socket) { });
        </script>

</div>
