@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <link href="~/layui/css/layui.css" rel="stylesheet" />
        <style>
            html {
                background-color: #333;
            }
        </style>   
    <script src="/layui/layui.js"></script>
    <script src="/layim/js/init.js"></script>
</div>
