@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <link href="~/layui/css/layui.css" rel="stylesheet" />
        <style>
            html {
                background-color: #333;
            }
        </style>   
    <script src="/layui/layui.js"></script>
    <script src="/layim/js/init.js"></script>
    <script>
        //layui.extend({
        //    signalr:'/lib/im/signalr'
        //});
        //layui.use('signalr', function () {
        //    let hubRoute = "layimHub";
        //    let protocol = new signalR.JsonHubProtocol();
        //    var options = {};
        //    options.transport = signalR.HttpTransportType['WebSockets'];
            
        //    connection = new signalR.HubConnectionBuilder()
        //        .configureLogging(signalR.LogLevel.Trace)
        //        .withUrl(hubRoute, options)
        //        .withHubProtocol(protocol)
        //        .build();
        //    connection.on('Receive', function (msg) {
        //        addLine('message-list', msg);
        //    });
        
        //    connection.onclose(function (e) {
        //        console.log(e);
        //    });
        //    connection.start()
        //        .then(function () {
        //            console.log('connected success');
                  
        //        })
        //        .catch(function (err) {
        //            console.log(err);
        //        });
        //});
    </script>
</div>
