@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //这里要和后台对应
    var layimPrefix = "/layim";
}

<div class="row">
    <link href="~/layui/css/layui.css" rel="stylesheet" />
        <style>
            html {
                background-color: #333;
            }
        </style>
    <script src="~/layui/layui.js"></script>
    <!--对应后台配置前缀-->
    <script src="@layimPrefix/js/layim-init.js"></script>
</div>
